@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
	/* font-family: "Lexend Exa", sans-serif; */
	/* font-weight: 400; */
	font-optical-sizing: auto;
	font-style: normal;
}

/* i hate everything */
h1, h2, h3, h4, h5, h6, p, li {
	margin: 0;
	padding: 0;
}

h2, h3, p, li {
	font-size: 16px;
}

:root {
	--font-family: "Manrope", "Poppins", "Open Sans", sans-serif;
	--color-text-title: #FFFFFF;
	--color-text-header: #B9E7E9;
	--color-text-support: #85A7A8;
	--color-text: #F2F7F7;
	--svg-filter: invert(97%) sepia(3%) saturate(54%) hue-rotate(165deg) brightness(116%) contrast(76%);
	--color-bg: linear-gradient(233deg, rgba(1,2,8,1) 0%, rgba(4,14,24,1) 11%, rgba(5,17,19,1) 33%, rgba(6,16,24,1) 48%, rgba(6,12,20,1) 67%, rgba(6,9,22,1) 87%, rgba(3,9,22,1) 100%);
	--color-bg-header: rgba(0, 0, 0, 0);

	--selection-text: #000000;
	--selection-bg: rgb(122, 255, 252);

	--glass-bg: rgba(255, 255, 255, 0.02);

	--load-time: 0.4s;
	--stagger-time: 0.1s;

	line-height: 1.1rem;
	font-weight: 400;
	word-wrap: break-word;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

hr {
	/* https://usgraphics.com/ */
	background: radial-gradient(#777 .5px, transparent 1px) 0 0 / 3px 3px, transparent;
	border: none;
	height: 1rem;
	max-height: 1rem;
	/* margin-bottom: 2rem; */
}

#content {
	max-width: 80ch;
	margin: 2rem auto;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.header {

}
	.header__title {
		margin-bottom: 0.75rem;
	}
	.header__subtitle {

	}

.aboutMe > *:not(:last-child) {
	margin-bottom: 1rem;
}

.mainProjects,
.secondaryProjects,
.contact {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.panelSegment {
	display: flex;
	/* gap: 1rem; */
}
	.panelSegment__header {
		flex: none;
		width: 22ch;
		max-width: 22ch;

	}

	.panelSegmenet__title {
		font-size: 1rem;
	}

	.panelSegmenet__content {

	}

.mainProjects__entry,
.secondaryProjects__entry {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.mainProjects__entry:not(:last-child) ,
.secondaryProjects__entry:not(:last-child) {
	margin-bottom: 1rem;
}

.aboutMe > *:not(:last-child) {
	margin-bottom: 1rem;
}

.mainProjects__entry > *,
.secondaryProjects__entry > * {
	margin: 0;
}
.contact__space {
	visibility: hidden;
}

.secondaryProjects {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
}

.secondaryProjects__entry {
	width: 44%;
	min-width: 40%;
}

.tags {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 0.5rem;
}

	.tags__entry {
		border: 1px solid black;
		padding: 2px 3px;
		box-shadow: 2px 2px #BBB;
	}

