---
title: test
---

<header class="header">
	<h1 class="header__title">
		{{ site_data.intro.name }}
	</h1>
	<p class="header__subtitle">
		{{ site_data.intro.subtitle }}
	</p>
</header>

<div>
	<hr />
</div>

<div class="panelSegment">
	<div class="panelSegment__header">
		<h2 class="panelSegmenet__title">01. about</h2>
	</div>
	<section class="panelSegment__content aboutMe">
		{% for paragraph in site_data.about %}
			<p class="aboutMe__paragraph">{{ paragraph | safe }}</p>
		{% endfor %}
	</section>
</div>

<div class="panelSegment">
	<div class="panelSegment__header">
		<h2 class="panelSegmenet__title">02. projects</h2>
	</div>
	<section class="panelSegment__content">
		{% include "lists/main_projects.njk" %}
	</section>
</div>

<div class="panelSegment">
	<div class="panelSegment__header">
		<h2 class="panelSegmenet__title">03. other stuff</h2>
	</div>
	<section class="panelSegment__content">
		{% include "lists/secondary_projects.njk" %}
	</section>
</div>

<div class="panelSegment">
	<div class="panelSegment__header">
		<h2 class="panelSegmenet__title">04. contact</h2>
	</div>
	<section class="panelSegment__content">
		{% include "lists/contact_me.njk" %}
	</section>
</div>

<div class="panelSegment">
	<div class="panelSegment__header">
		<h2 class="panelSegmenet__title">05. contact</h2>
	</div>
	<section class="panelSegment__content">
		{% include "lists/theme_selector.njk" %}
	</section>
</div>
