{# Generates a list with links to posts.                                    #}

{# The posts that are shown on the list are determined by the variable      #}
{# "posts_list". When including this nunjucks file, ensure that posts_list  #}
{# is defined beforehand.                                                   #}

<ol reversed>
	{%- for post in posts_list | reverse %}
		<li>
			<a href="{{ post.url }}">
				{% if post.data.title %}
					{{ post.data.title }}
				{% else %}
					Untitled
				{% endif %}
			</a>
			<time datetime="{{ post.date | htmlDateString }}">
				{{ post.date | readableDate("LLLL yyyy") }}
			</time>
		</li>
	{%- endfor %}
</ol>
