.main_navigation_bar{
    background: hsla(219, 54%, 9%, 0.4);
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 20px;
    top: 0; 
    left: 0;
    transform: translate(calc(50vw - 50%));
    backdrop-filter: blur(10px) brightness(20%);
    z-index: 999999999;
}

.main_navigation_bar ul.main_navigation_bar_list{
    margin: auto;
}

.main_navigation_bar ul.main_navigation_bar_list li{
    margin: 0 1ch;
    padding: 0;
}

.main_navigation_bar ul.main_navigation_bar_list li p{
    opacity: 0.6;
    color: var(--color-text-secondary);
    font-style: normal;
    text-decoration: none;
}

.main_navigation_bar ul.main_navigation_bar_list li a{
    opacity: 0.6;
    transition: 0.22s;
    color: var(--color-text-secondary);
    font-style: normal;
    text-decoration: none;
}

.main_navigation_bar ul.main_navigation_bar_list li a.main_navigation_link:hover{
    opacity: 1;
}

@media screen and (max-width:  75ch),
       screen and (max-height: 480px) {

    .main_navigation_bar{
        position: absolute;
    }
}


