<ul class="mainProjects">
	{% for project in site_data.projects.main %}
		<li class="mainProjects__entry">
			<h3 class="mainProjects__name">
				{{ project.name }}
			</h3>
			<hover-video-player>
				<video src="{{ project.video }}" loop playsinline />
				<img
					src="/img/projects/{{ project.img }}"
					class="paused-overlay"
					slot="paused-overlay"
				/>
			</hover-video-player>
			{% for paragraph in project.description %}
				<p>{{ paragraph | safe }}</p>
			{% endfor %}
			<ul class="tags">
			{% for tag in project.tags %}
				<li class="tags__entry">{{ tag }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
