<ul class="projects">
	{% for project in site_data.projects.main %}
		<li class="projects__entry">
			<h3 class="projects__name">
				{{ project.name }}
			</h3>

			{% if project.video %}
				<a
					href="{{ project.link }}"
					class="projects__link"
				>
					<hover-video-player>
						<video src="{{ project.video }}" loop muted playsinline />
						<img
							src="/img/projects/{{ project.img }}"
							alt="{{ project.img }}"
							class="paused-overlay"
							slot="paused-overlay"
						/>
					</hover-video-player>
				</a>
			{% else %}
				<a
					href="{{ project.link }}"
					class="projects__link"
				>
					<img
						src="/img/projects/{{ project.img }}"
						alt="{{ project.img }}"
					/>
				</a>
			{% endif %}

			{% for paragraph in project.description %}
				<p>{{ paragraph | safe }}</p>
			{% endfor %}
			<ul class="tags">
			{% for tag in project.tags %}
				<li class="tags__entry">{{ tag }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
