<ul class="projects projects--secondary">
	{% for project in site_data.projects.secondary %}
		<li class="projects__entry">
			<h3 class="projects__name">
				{{ project.name }}
			</h3>
			{% if project.video %}
				<a
					href="{{ project.link }}"
					class="projects__link projects__link--hoverable"
				>
					<hover-video-player>
						<video
							src="{{ project.video }}"
							loop
							muted
							playsinline
							preload="metadata"
						/>
						<img
							src="/img/projects/{{ project.img }}"
							alt="{{ project.img }}"
							class="paused-overlay"
							slot="paused-overlay"
						/>
					</hover-video-player>
					<p class="projects__hoverMessage">hover me!</p>
				</a>
			{% else %}
				<a
					href="{{ project.link }}"
					class="projects__link"
				>
					<img
						src="/img/projects/{{ project.img }}"
						alt="{{ project.img }}"
					/>
				</a>
			{% endif %}
			<p class="projects__paragraph">
				{{ project.description }}
			</p>
			<ul class="tags">
			{% for tag in project.tags %}
				<li class="tags__entry">{{ tag }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
