<ul class="projects projects--secondary">
	{% for project in site_data.projects.secondary %}
		<li class="projects__entry">
			<h3 class="projects__name">
				{{ project.name }}
			</h3>
			<a
				href="{{ project.link }}"
				class="projects__link"
			>
				<img
					src="/img/projects/{{ project.img }}"
					alt="{{ project.img }}"
				/>
			</a>
			<p class="projects__paragraph">
				{{ project.description }}
			</p>
			<ul class="tags">
			{% for tag in project.tags %}
				<li class="tags__entry">{{ tag }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
