---
layout: layouts/home.njk
---

<main class="markdown">
	<div class="postHeader">
		<h1 class="postHeader__title">{{ title }}</h1>
		<a  class="postHeader__link" href="/">return to home page</a>
	</div>

	{{ content | safe }}

</main>
